**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
name='omar emad'
len(name)

9

In [45]:
my_string = "omar emad"
count = 0
for char in my_string:
    count += 1
print(count)

9

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [2]:
name='omar emad'

if len(name)<2:
    print('empty string')
else:
    set(name)
print(name[0:2]+name[-2:])

omad

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [4]:
string=input()
if len(string)>2:
    if string[-3:]=='ing':
        add_ly=string+'ly'
        print(add_ly)
    else:
            add_ing=string+'ing'
            print(add_ing)
else:
    print(string)

str
string

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [8]:
text =input("Please input a list of words to evaluate: ")
longest = 0

for words in text.split(','):
    if len(words) > longest:
        longest = len(words)
        longest_word = words
print("The longest word is", longest_word, "with length", len(longest_word))

Please input a list of words to evaluate: mohamed ,ahmed, omar
The longest word is mohamed  with length 8

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [2]:
string=input('please enter string  ')
swap=string[-1:]+string[1:-1]+string[0:1]
print(swap)

please enter string  omar
rmao

In [3]:
text=input()
text
first=text[0]
last=text[-1]
print(last+text[1:-1]+first)

omar
rmao

** (6-Write a Python program to remove characters that have odd index values in a given stringSample String:abca Expected Result:ac)

In [17]:
text = input()
output=""
for i in range(len(text)):
    if i % 2 == 0:
        output=output+text[i]
        
        
print(output)

omar
oa

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [27]:
str=input()
counts = {}
words =str.split()

for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

print (counts)

omar emads omar
{'omar': 2, 'emads': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [31]:
text=input()
upper_text=text.upper()
print(upper_text)
print(lower_text)

omar emad
OMAR EMAD
omar emad

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [37]:
text=input()
if len(text)%4==0:
    reverse_text=text[::-1]
    print( reverse_text)
else:
    print('check your text length')

omaro
check your text length

**10- Write a Python program to remove a newline in Python

In [2]:
text=input("please enter text: ")
text_strip=text.strip()
print (text_strip)

please enter text: omar emad
omar emad

**11-Write a Python program to check whether a string starts with specified characters

In [2]:
string=input()
string.startswith("o")

omar

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [62]:
str1=input("enter your text with . in the end of each line")
str2="*******"+str1
str2.replace(".","*******")

enter your text with . in the end of each lineomar emad eldin. mohamed .

'*******omar emad eldin******* mohamed *******'

**13-Write a Python program to print the following numbers up to 2 decimal places

In [3]:
fraction_number=float(input())
result="{:.2f}".format(fraction_number)
print(result)

1.23454
1.23

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [1]:
fraction_number=float(input())
result="{:+.2f}".format(fraction_number)
print(result)

-1.25545
-1.26

**15-Write a Python program to display a number with a comma separator

In [5]:
num=float(input())
split_num="{:,}".format(num)
print(split_num)

5255655
5,255,655.0

**16-Write a Python program to reverse a string using 2 ways

In [7]:
text=input()
reverse=text[::-1]
print(reverse)

omar
ramo

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [3]:
text=input()
counts={}
for letter in text:
    if letter in counts:
            counts[letter] += 1
    else:
            counts[letter] = 1
            
            
if counts[letter] > 1:
    print(f"{letter}: {counts[letter]}")

omarrr
r: 3

**18-Write a Python program to find the first non-repeating character in a given string

In [3]:
 string = input("Enter a string: ")


for char in string:
   
    if string.count(char) == 1:
        print(f"The first non-repeating character is: {char}")
        break
else:
    
    print("There are no non-repeating characters in the string.")

Enter a string: omar
The first non-repeating character is: o

**19-Write a Python program to remove spaces from a given string

In [8]:
text=input()
string=text.replace(' 'or'  'or'    ','')
print (string)

om        ar
omar

**20-Write a Python program to count the number of non-empty substrings of a given string

In [48]:
string="omar emad"
count=0
for items in string:
    if items!=" ":
        count+=1
print(count)

8

**21-write a Python program to swap first and last element of any list.

In [5]:
my_list = input("Enter a list : ").split(',')


my_list = [int(element) for element in my_list]


if len(my_list) >= 2:
    my_list[0], my_list[-1] = my_list[-1], my_list[0]

print(my_list)

Enter a list : 10,11,12,13
[13, 11, 12, 10]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [10]:
my_list = input("Enter a list : ").split(',')
pos1 = int(input("Enter the first position: "))
pos2 = int(input("Enter the second position: "))

my_list = [int(element) for element in my_list]

if len(my_list) >= 2:
    my_list[pos1], my_list[pos2] = my_list[pos2], my_list[pos1]

print(my_list)

Enter a list : 11,12,13,14,15
Enter the first position: 1
Enter the second position: 3
[11, 14, 13, 12, 15]

**23- search for the all ways to know the length of the list

In [50]:
my_list=[1,2,3,4,5,6]
number_in_list=len(my_list[:])
print(number_in_list)

6

In [51]:
my_list=[1,2,3,4,5,6]
number_in_list=len(my_list)
print(number_in_list)

6

In [52]:
my_list=[1,2,3,4,5,6]
count=0
for items in my_list:
        count+=1
print(count)

6

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [12]:
my_list = input("Enter a list : ").split(',')
max_num=max(my_list)
print(max_num)

Enter a list : 14,14,12,13
14

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [13]:
my_list = input("Enter a list : ").split(',')
max_num=min(my_list)
print(max_num)

Enter a list : 12,13,14
12

**26-search for if an elem is existing in list

In [ ]:
my_list = input("Enter a list : ").split(',')
max_num=min(my_list)
print(max_num)

**27- clear python list using different ways

In [15]:
my_list = input("Enter a list : ").split(',')
number=input()
if number in my_list:
    print(number,"number is found")
else:
    print(number,"number is not found")

Enter a list : 12,13,14
15
15 number is not found

**28-remove duplicated elements from a list

In [16]:
my_list = input("Enter a list : ").split(',')
set_of_element=set(my_list)
print(set_of_element)

Enter a list : 12,14,15,14
{'15', '14', '12'}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [53]:
values = [10, 20, 30, 40, 50]
keys = ["a", "b", "c", "d", "e"]

result = []

for i in range(len(keys)):
    result.append({keys[i]: values[i]})

print(result)

[{'a': 10}, {'b': 20}, {'c': 30}, {'d': 40}, {'e': 50}]

**30-write a python program to count unique values inside a list using different ways

In [22]:
my_list = input("Enter a string: ").split()
counts=0


for value in my_list:
    if my_list.count(value) == 1:
        counts+=1
    
print(counts)

Enter a string: 12 14 15 16 17
5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [57]:
a1 = [10,20,30,20,30,400]
a2 = []	
for i in range(1, len(a1)):
    r = max(a1[i], a1[i-1])
    a2.append(r)
for i in a2 :
    print(i)

20
30
30
30
400

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [60]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=int(input("Enter third number:"))
d=[]
d.append(a)
d.append(b)
d.append(c)
for i in range(len(d)):
    for j in range(len(d)):
        for k in range(len( d)):
            if(i!=j&j!=k&k!=i):
                print(d[i],d[j],d[k])

Enter first number:5
Enter second number:6
Enter third number:7
5 6 7
5 7 6
6 5 7
6 7 5
7 5 6
7 6 5

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [61]:
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]

combinations = []

for i in list1:
    for j in list2:
        combinations.append((i, j))

print(combinations)

[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [27]:
my_list = input("Enter a list: ").split()
number = input("Enter the number to remove: ")

final_list = [x for x in my_list if x != number]

print( final_list)

Enter a list: 11 1 21 4 1 4 21
Enter the number to remove: 21
['11', '1', '4', '1', '4']

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [29]:
my_list = input("Enter a list: ").split(",")
sec_list = input("second list: ").split(",")
for i in range(len(my_list)):
    if my_list[i] in sec_list:
        my_list[i] = sec_list.index(my_list[i])

print("List after replacing elements:", my_list)

Enter a list: Gfg, is, best
second list: 0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0
List after replacing elements: ['Gfg', ' is', ' best']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [12]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

SyntaxError: invalid syntax (3685369303.py, line 1)

In [11]:
my_dict = dict(item.split(":") for item in input("Enter a dictionary in the format key:value separated by commas: ").split(","))

sorted_dict = {k: v for k, v in sorted(my_dict.items(), key=lambda item: item[0])}

print("Sorted dictionary by key:", sorted_dict)

Enter a dictionary in the format key:value separated by commas: 'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32
Sorted dictionary by key: {" 'rajnish'": ' 9', " 'sanjeev'": ' 15', " 'suraj'": ' 32', " 'yash'": ' 2', "'ravi'": ' 10'}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [13]:
d = {'a': 5, 'b': 10, 'c': 15, 'd': 20}
print(" dictionary:", d)

keys_to_remove = []
for key in d:
    if d[key] > 12:
        keys_to_remove.append(key)

for key in keys_to_remove:
    del d[key]

print("Dictionary after removing keys :", d)

 dictionary: {'a': 5, 'b': 10, 'c': 15, 'd': 20}
Dictionary after removing keys : {'a': 5, 'b': 10}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [1]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
final_dic = {}

for d in [dic1, dic2, dic3]:
    final_dic.update(d)

print(final_dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [63]:
dt = {'a': 'ahmed', 'b': 'basem', 'c': 'coco'}

for key, value in dt.items():
    print(key, value)

a ahmed
b basem
c coco

**44- Write a Python script to merge two Python dictionaries

In [2]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}

final_dic = {}

for d in [dic1, dic2]:
    final_dic.update(d)

print(final_dic)

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [66]:
my_dict = {"apple": 2, "banana": 3, "orange": 1}

max_value = max(my_dict.values())
min_value = min(my_dict.values())

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 3
Minimum value: 1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [75]:
my_dict = {"apple": 2, "banana": "", "orange": [], "pear": None, "peach": 5}

clean_dict = {}
for key, value in my_dict.items():
    if value not in [None, "", []]:
        clean_dict[key] = value

print(clean_dict)

{'apple': 2, 'peach': 5}

**47-Write a Python program to create a tuple of numbers and print one item

In [8]:
tuple_list = tuple(input().split())
input_item = input()

found = False
for item in tuple_list:
    if input_item == item:
        print(item)
        found = True

if found==False:
    print("not found")

11 12 14 15
16
not found

**48-Write a Python program to unpack a tuple into several variables

In [11]:
tuple_list = tuple(input().split(","))
for item in tuple_list:
    print (item)

11,12,13,14
11
12
13
14

**49-Write a Python program to add an item to a tuple

In [13]:
tuple_items = (11, 12, 13, 14)
item = input("Enter a new item: ")
final_items = tuple(list(tuple_items) + [item])
print(final_items)

Enter a new item: 11
(11, 12, 13, 14, '11')

**50-Write a Python program to convert a tuple to a string

In [15]:
my_tuple = ("ahmed", "omar", "mohamed")
my_string = str(my_tuple)

print(my_string)

('ahmed', 'omar', 'mohamed')

**51-Write a Python program to convert a list to a tuple

In [18]:
my_list=[1,2,3,4,5]
my_tuple=tuple(my_list)
my_tuple

(1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [21]:
my_tuple=(1,2,3,4,5)
final=my_tuple[::-1]
print(final)

(5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [79]:
my_list = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
new_value = input()


new_list = [(x[0], x[1], new_value) for x in my_list]

print(new_list)

10
[(1, 2, '10'), (4, 5, '10'), (7, 8, '10')]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [29]:
string="omar"
my_tuple=tuple(string)
print(my_tuple)

('o', 'm', 'a', 'r')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [84]:
my_tuple=((1,2,3),(4,5,6),(7,8,9))
for i in my_tuple:
    avg=sum(i)/len(i)
    print(avg)

2.0
5.0
8.0

**56-Write a Python program to add member(s) to a set.

In [33]:
color_set = set()

print("\nAdd single element:")
color_set.add(input())
print(color_set)
print("\nAdd multiple items:")
color_set.update(input().split(","))
print(color_set)

Add single element:
omar
{'omar'}

Add multiple items:
ahmed,mohamed
{'ahmed', 'omar', 'mohamed'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [37]:
my_set = {1, 2, 3, 4, 5}

# Remove an item from the set using user input and the "remove()" method
item = int(input("Enter an item to remove from the set: "))
if item in my_set:
    my_set.remove(item)

# Print out the updated set
print(my_set)

Enter an item to remove from the set: 3
{1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [85]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Intersection
intersection = set1.intersection(set2)
print("Intersection:", intersection)

# Union
union = set1.union(set2)
print("Union:", union)

# Difference
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set1 minus Set2:", difference1)
print("Set2 minus Set1:", difference2)

# Symmetric difference
symmetric_difference = set1.symmetric_difference(set2)
print("Symmetric Difference:", symmetric_difference)

Intersection: {3, 4}
Union: {1, 2, 3, 4, 5, 6}
Set1 minus Set2: {1, 2}
Set2 minus Set1: {5, 6}
Symmetric Difference: {1, 2, 5, 6}

**59-Write a Python program to find the maximum and minimum values in a set

In [40]:
my_set = {1, 2, 3, 4, 5, 6}

max_value = max(list(my_set))
min_value = min(list(my_set))
print(max_value)
print(min_value)

6
1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [43]:
my_list=[1,5,3,3,2,4,1,7]
sum_value=int(input())
for item in my_list:
    if item+item==sum_value:
        print(item)

6
3
3